<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' %>
  </head>

  <body>
    <div class="section">
      <div class="title is-1 centered">
        <%= link_to "Odin Flight Booker", root_path %>
      </div>
      <div class="title is-5 centered">
        book your flight today
      </div>
    </div>

    <%= yield %>
  </body>
</html>
